# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.


#Klipper Backup

[virtual_sdcard]
path = /home/pi/printer_data/gcodes
on_error_gcode = CANCEL_PRINT

[pause_resume]

[display_status]

[respond]
default_type = command

[include macros.cfg]

[include timelapse.cfg]

#[auto_speed]

[stepper_x]
step_pin = PC2
dir_pin = PB9
enable_pin = !PC3
microsteps = 16
rotation_distance = 40
endstop_pin = ^PA5
position_endstop = 0
position_max = 248
homing_speed = 50

[stepper_y]
step_pin = PB8
dir_pin = PB7
enable_pin = !PC3
microsteps = 16
rotation_distance = 40
endstop_pin = ^PA6
position_endstop = 0
position_max = 235
homing_speed = 50

[stepper_z]
step_pin = PB6
dir_pin = !PB5
enable_pin = !PC3
microsteps = 16
rotation_distance = 8
endstop_pin = probe:z_virtual_endstop
position_min = -10
position_max = 250


[bed_mesh]
mesh_min = 5, 5
mesh_max = 178, 215
probe_count = 5, 5

[extruder]
max_extrude_only_distance = 900.0
step_pin = PB4
dir_pin = PB3
enable_pin = !PC3
microsteps = 16
rotation_distance = 23.130
nozzle_diameter = 0.400
filament_diameter = 1.750
heater_pin = PA1
sensor_type = EPCOS 100K B57560G104F
sensor_pin = PC5
min_temp = 0
max_temp = 250
control = pid
pid_kp = 37.304
pid_ki = 11.304
pid_kd = 30.776

[heater_bed]
heater_pin = PA2
sensor_type = EPCOS 100K B57560G104F
sensor_pin = PC4
min_temp = 0
max_temp = 130
control = pid
pid_kp = 70.119
pid_ki = 1.240
pid_kd = 991.307

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[mcu host]
serial = /tmp/klipper_host_mcu

[printer]
kinematics = cartesian
max_velocity = 220
max_accel = 6678
max_z_velocity = 5
max_z_accel = 100

[filament_switch_sensor Filament_runout_sensor]
pause_on_runout = True
runout_gcode = 
	G91
	G1 Z20 F900
	G90
	G1 X245 Y218.5 F5000
	G91
	G1 E-450 F600
	G90
insert_gcode = 
	G4 P10000
	G1 E150 F400
switch_pin = host:gpio17

[probe]
pin = ^!PB1
x_offset = -44.0
y_offset = 2.0
speed = 5.0
samples = 2
lift_speed = 8
#z_offset = 0.339

[screws_tilt_adjust]
screw1 = 75, 35
screw1_name = Front left
screw2 = 246, 35
screw2_name = Front right
screw3 = 246, 205
screw3_name = Rear right
screw4 = 75, 205
screw4_name = Rear left
horizontal_move_z = 10
speed = 200
screw_thread = CW-M4

[safe_z_home]
home_xy_position = 152, 108
speed = 120
z_hop = 10
z_hop_speed = 5

[bed_mesh default]
#version = 1
#points = 
#	0.192500, -0.290000, -0.332500, -0.366250, -0.337500
#	0.042500, 0.053750, 0.053750, 0.018750, 0.065000
#	-0.065000, -0.030000, -0.031250, -0.035000, -0.005000
#	-0.031250, -0.018750, 0.016250, 0.010000, 0.006250
#	0.016250, 0.037500, 0.031250, 0.023750, 0.040000
#x_count = 5
#y_count = 5
#mesh_x_pps = 2
#mesh_y_pps = 2
#algo = lagrange
#tension = 0.2
#min_x = 5.0
#max_x = 178.0
#min_y = 5.0
#max_y = 215.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.767
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.042500, -0.555000, -0.511250, -0.602500, -0.663750
#*# 	  -0.117500, -0.068750, 0.003750, 0.022500, 0.086250
#*# 	  -0.205000, -0.140000, -0.057500, -0.028750, 0.047500
#*# 	  -0.132500, -0.062500, 0.000000, 0.022500, 0.085000
#*# 	  -0.050000, -0.002500, 0.055000, 0.072500, 0.137500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 178.0
#*# min_y = 5.0
#*# max_y = 215.0
